<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>372957724568-oa3i500k8k14ueak1rl8tgdvagkknmp7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.372957724568-oa3i500k8k14ueak1rl8tgdvagkknmp7</string>
	<key>API_KEY</key>
	<string>AIzaSyAkSJpKHS7GNyibDoZa95jVyLX6MPx0R6o</string>
	<key>GCM_SENDER_ID</key>
	<string>372957724568</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterPractice1</string>
	<key>PROJECT_ID</key>
	<string>loginpage-5fb95</string>
	<key>STORAGE_BUCKET</key>
	<string>loginpage-5fb95.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:372957724568:ios:f96833c6a16422161735ed</string>
</dict>
</plist>